* {
  font-family: Cambria, serif;
  list-style-type: none;

}

body {
  padding-left: 5rem;
}

h1, #sumOfExpenses {
  font-size: 2rem;
}

div {
  font-size: 1.5rem;
  margin: .75rem;
}

label {
  padding-right: 1rem;
}

button {
  font-size: 1rem;
  padding: .5rem;
  margin: .5rem;
  border: 4px solid;
  border-radius: 8px;
  background-color: white;
}

li {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  transform: translateX(-2.5%);
}

.edit {
  color: goldenrod;
  border-color: goldenrod;
}

.delete {
  color: red;
  border-color: red;
}

#addExpense, #calculateTotal {
  color: green;
}
