* {
  font-family: Cambria, serif;
  list-style-type: none;
  padding-left: 2rem;
}

h1, #sumOfExpenses {
  font-size: 2rem;
}

div {
  font-size: 1.5rem;
  margin: 1rem;
}

button {
  font-size: 1rem;
  padding: .5rem;
  margin: .5rem;
  border: 12px solid;
  background-color: white;
}

li {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.edit {
  color: goldenrod;
  border: goldenrod;
}

.delete {
  color: red;
  border: red;
}

#addExpense, #calculateTotal {
  color: green;
}
